.Introduce___1poLS {
  background-color: #fff;
  padding: 20px;
}

.Introduce___1poLS .title___SguJK {
  margin: 5px 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding-bottom: 4px;
  color: #1d5662;
  border-bottom: 1px solid #1d5662;
}

.Introduce___1poLS .images___19_8Q .imageItem___2SPJ4 {
  margin: 10px 10px 0 0;
}

.Introduce___1poLS .images___19_8Q .imageItem___2SPJ4 img {
  width: 100%;
}
.radioGroup___35EXq {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.radioGroup___35EXq .radioItem___45q1t {
  flex: 1;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  overflow: hidden;
  background: #fff;
}

.hairlines___bHFJX .radioGroup___35EXq .radioItem___45q1t {
  border-top: 0.5px solid #e5e5e5;
  border-bottom: 0.5px solid #e5e5e5;
  border-right: 0.5px solid #e5e5e5;
}

.radioGroup___35EXq .radioItem___45q1t.radioFirst___3w4P3 {
  border-left: 1px solid #e5e5e5;
  border-radius: 4px 0 0 4px;
}

.hairlines___bHFJX .radioGroup___35EXq .radioItem___45q1t.radioFirst___3w4P3 {
  border-left: 0.5px solid #e5e5e5;
}

.radioGroup___35EXq .radioItem___45q1t.radioLast___lKt1L {
  border-radius: 0 4px 4px 0;
}

.radioGroup___35EXq .radioItem___45q1t.radioChecked___3An0K {
  color: #fff;
  background: #1d5662;
  border-color: #1d5662;
}
.header___2_1Oi .title___2Fk8T {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.header___2_1Oi .title___2Fk8T .icon___2_PSE {
  width: 5px;
  height: 22px;
  background: #333;
}

.header___2_1Oi .title___2Fk8T .name___1x505 {
  font-size: 24px;
  line-height: 22px;
  padding: 0 20px 0 15px;
}

.header___2_1Oi .desc___vE8F4 {
  font-size: 16px;
  padding: 0 20px;
  text-transform: uppercase;
  opacity: 0.75;
  color: #333333;
}
.businessContent___2hpSq {
  padding: 5px 20px 0;
}

.partContainer___1s7AP {
  overflow: hidden;
  height: 240px;
  margin: 25px 0 0;
}

.partContainer___1s7AP .partList___3FBbu {
  display: flex;
  align-items: stretch;
  transition: all ease 0.5s;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw {
  font-size: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw .partImage___2ZZLW {
  overflow: hidden;
  height: 150px;
  border-radius: 4px 4px 0 0;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw .partImage___2ZZLW img {
  width: 100%;
  height: 200px;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw .childrenList___23e8m {
  flex: 1;
  padding: 0 20px 12px;
  border-radius: 0 0 4px 4px;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw .childrenList___23e8m .partTitle___2isYy {
  text-align: center;
  font-size: 17px;
  margin: 20px 0 16px;
  color: #333;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw .childrenList___23e8m .childrenItem___MDrHh {
  display: flex;
  margin-bottom: 14px;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw .childrenList___23e8m .childrenItem___MDrHh .childrenIcon___3Wvjo {
  width: 4px;
  height: 4px;
  margin-top: 9px;
  margin-right: 10px;
  border-radius: 50%;
  background: #999;
}

.partContainer___1s7AP .partList___3FBbu .partItem___1LeXw .childrenList___23e8m .childrenItem___MDrHh .childrenDesc___13wO1 {
  font-size: 16px;
  flex: 1;
  color: #666;
}

.businessItem___207ln {
  position: relative;
  padding: 35px 0;
  background: #fff;
}

.businessItem___207ln .childrenList___23e8m {
  background: #eef6ff;
  max-height: 300px;
  overflow: auto;
}

.businessItem___207ln .anchor___-X4cc {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0;
}

.businessItemGray___10U2Y {
  padding: 35px 0;
  background: #eef6ff;
}

.businessItemGray___10U2Y .partImage___2ZZLW,
.businessItemGray___10U2Y .childrenList___23e8m {
  background: #fff;
}

.space___1cCpL {
  padding: 8px;
  overflow: hidden;
}
.contact___CKLQn {
  overflow: hidden;
  background: #eef6ff;
}

.contact___CKLQn .noStatus___2-NTm {
  text-decoration: none;
  color: inherit;
}

.contact___CKLQn .form___30BRK {
  padding: 0 20px;
}

.contact___CKLQn .form___30BRK input {
  font-size: 17px;
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding: 0;
  text-indent: 15px;
  border: none;
  border-radius: 0;
  outline: none;
  background: rgba(255, 255, 255, 0.6);
}

.contact___CKLQn .form___30BRK input:valid {
  background: #fff;
}

.contact___CKLQn .form___30BRK .submitBtn___3bPQF {
  font-size: 17px;
  width: 100%;
  height: 50px;
  margin: 0 0 113px;
  padding: 0;
  color: #333;
  border: none;
  outline: none;
  background-color: #fff;
}

.submitModal___3Rivf {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.submitModal___3Rivf .wrapper___3E2Up {
  position: relative;
  z-index: 1;
  width: 335px;
  text-align: center;
  border-radius: 2px;
  background: #fff;
}

.submitModal___3Rivf .wrapper___3E2Up .main___4QOTR {
  overflow: hidden;
}

.submitModal___3Rivf .wrapper___3E2Up .main___4QOTR .iconSuccess___3tlHa {
  font-size: 56px;
  display: block;
  margin: 30px 0 0;
  color: #1d5662;
}

.submitModal___3Rivf .wrapper___3E2Up .main___4QOTR .result___1hBpo {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 0;
  color: #1d5662;
}

.submitModal___3Rivf .wrapper___3E2Up .main___4QOTR .desc___2rbU4 {
  font-size: 16px;
  margin: 13.5px 0 40px;
  color: #999;
}

.submitModal___3Rivf .wrapper___3E2Up .btnClose___2j7gJ {
  font-size: 17px;
  width: 100%;
  height: 45px;
  color: #1d5662;
  border: none;
  outline: none;
  background: #d7e6f5;
}

.submitModal___3Rivf::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.5);
}
.about___1816H .cover___xmz5x {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 338px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about___1816H .cover___xmz5x::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(/_next/static/images/about/bg03_dc151f8.jpg);
  background-size: cover;
}

.about___1816H .cover___xmz5x .pageTitle___1us4T {
  line-height: 1;
  margin: auto auto 0;
  text-align: center;
}

.about___1816H .cover___xmz5x .pageTitle___1us4T .pageTitleCn___2m5yf {
  font-size: 30px;
  margin: 0 0 15px;
  color: #fff;
}

.about___1816H .cover___xmz5x .pageTitle___1us4T .pageTitleEn___1PADi {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}

.about___1816H .cover___xmz5x .brick___Chj36 {
  width: 30px;
  height: 4px;
  margin: 16px auto;
  background: #fff;
}

.about___1816H .cover___xmz5x .subTitle___I3ut8 {
  font-size: 12px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
  word-break: break-all;
  color: #fff;
}

.about___1816H .cover___xmz5x .effects___1_P6T {
  display: flex;
  margin: auto 10px 25px;
}

.about___1816H .cover___xmz5x .effects___1_P6T .item___2wKSe {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  flex: 1;
  text-align: center;
  color: #fff;
}

.about___1816H .cover___xmz5x .effects___1_P6T .item___2wKSe .txt___2c5wX {
  font-size: 13px;
  font-weight: normal;
  display: block;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.75);
}

.about___1816H .section___1eOvT {
  padding-bottom: 35px;
  background: #fff;
}

.about___1816H .section___1eOvT .paragraph___2af69 {
  margin: 0 20px;
}

.about___1816H .section___1eOvT .paragraph___2af69 img {
  display: block;
  width: 100%;
}

.about___1816H .section___1eOvT .paragraph___2af69 p {
  font-size: 16px;
  margin-bottom: 20px;
  word-break: break-all;
  color: #666;
}

.about___1816H .section___1eOvT .paragraph___2af69 a {
  text-decoration: underline;
  color: #1d5662;
}

.about___1816H .section___1eOvT.tdl___1xnfq {
  padding-bottom: 15px;
}

.about___1816H .section___1eOvT.jobs___S-WTo {
  padding-bottom: 25px;
}

.about___1816H .caseGroup___2ZpYQ {
  overflow: hidden;
  margin: 0 20px 10px;
  padding: 0 20px;
  background: #eef6ff;
}

.about___1816H .caseGroup___2ZpYQ header {
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  margin: 0 0 -1px;
  border-bottom: 1px solid #d8e4f3;
}

.hairlines___Vvdk2 .about___1816H .caseGroup___2ZpYQ header {
  margin: 0 0 -0.5px;
  border-bottom: 0.5px solid #d8e4f3;
}

.about___1816H .caseGroup___2ZpYQ header .iconCollapse___3Pwlw {
  float: right;
  transition: transform ease 0.3s;
  color: #999;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc {
  overflow: hidden;
  transition: height ease 0.3s;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc .info___3wcVA {
  font-size: 16px;
  margin-top: 20px;
  color: #666;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc .info___3wcVA .location___h9Oe7 {
  display: inline-block;
  margin-left: 2em;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc .list___NKMnt {
  margin: 30px 0;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc .list___NKMnt .listTitle___2EBRG {
  font-size: 16px;
  margin: 0 0 19px;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc .list___NKMnt .infos___3IQnK {
  position: relative;
  margin: 0;
  padding-left: 32px;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc .list___NKMnt .infos___3IQnK::before {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0;
  width: 2px;
  content: '';
  background: #d8e4f3;
}

.about___1816H .caseGroup___2ZpYQ .detail___39sOc .list___NKMnt .info___3wcVA {
  font-size: 16px;
  margin: 0;
  text-align: justify;
  color: #666;
}

.about___1816H .caseGroup___2ZpYQ.collapse___2GVdi header .iconCollapse___3Pwlw {
  transform: rotate(180deg);
}

.about___1816H .caseGroup___2ZpYQ.collapse___2GVdi .featureList___2iWgQ {
  height: 0;
}

.about___1816H .develop___upoTO {
  padding-bottom: 35px;
  background: #eef6ff;
}

.about___1816H .develop___upoTO .timeline___3ORdt {
  position: relative;
  margin: 0 19px 0 40px;
  padding: 1px 1px 40px 60px;
  border-left: 2px solid #1d5662;
}

.hairlines___Vvdk2 .about___1816H .develop___upoTO .timeline___3ORdt {
  padding: 0.5px 0.5px 40px 60px;
}

.about___1816H .develop___upoTO .timeline___3ORdt::after {
  position: absolute;
  bottom: -8px;
  left: -6px;
  width: 2px;
  height: 0;
  content: '';
  border-top: 8px solid rgba(25, 118, 239, 0.5);
  border-right: 4px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 4px solid transparent;
}

.about___1816H .develop___upoTO .timeline___3ORdt .item___2wKSe {
  margin: 25px 0 25px;
}

.about___1816H .develop___upoTO .timeline___3ORdt .item___2wKSe:last-child {
  margin-bottom: 0;
}

.about___1816H .develop___upoTO .timeline___3ORdt .year___2pErV {
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  position: relative;
}

.about___1816H .develop___upoTO .timeline___3ORdt .year___2pErV::before {
  position: absolute;
  top: 50%;
  left: -60px;
  width: 37px;
  height: 1px;
  content: '';
  transform: translate3d(0, -50%, 0);
  background: #1d5662;
}

.about___1816H .develop___upoTO .timeline___3ORdt .year___2pErV .anchor___32sci {
  position: absolute;
  top: 50%;
  left: -68px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  transform: translate3d(0, -50%, 0);
  border: 3px solid #1d5662;
  border-radius: 50%;
  background: #eef6ff;
}

.about___1816H .develop___upoTO .timeline___3ORdt .year___2pErV .decorator___3PBf5 {
  position: absolute;
  top: 50%;
  left: -32px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  transform: translate3d(0, -50%, 0);
  border: 4px solid #cbe2ff;
  border-radius: 50%;
  background: #1d5662;
}

.about___1816H .develop___upoTO .timeline___3ORdt .event___3mZLC {
  font-size: 12px;
  word-break: break-all;
  margin-top: 11px;
  color: #666;
}

.about___1816H .companyLocation___17G-Q {
  padding-bottom: 35px;
  background: #fff;
}

.about___1816H .companyLocation___17G-Q .content___14a6i {
  margin: 0 20px;
}

.about___1816H .companyLocation___17G-Q .address___31-UI {
  font-size: 14px;
  padding: 0 0 14px 0;
  background: #fff;
}

.about___1816H .companyLocation___17G-Q .address___31-UI .addressText___3U4Vx {
  font-size: 14px;
}

.about___1816H .companyLocation___17G-Q .map___2I2MV {
  display: block;
  width: 100%;
}
.resovePage___1zHaG .content___GOWJZ {
  padding: 0 20px;
}

.resovePage___1zHaG * {
  box-sizing: border-box;
}

.banner___3XOAR {
  font-size: 0;
  position: relative;
  min-height: 170px;
}

.banner___3XOAR::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.9;
  background-image: url(/_next/static/images/solution/banner_e393f9e.jpg);
  background-size: cover;
}

.banner___3XOAR .bannerContent___2pQN6 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-align: center;
}

.banner___3XOAR .bannerContent___2pQN6 h4 {
  font-size: 30px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fff;
}

.banner___3XOAR .bannerContent___2pQN6 p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  opacity: 0.5;
  color: #ffffff;
}
@keyframes downIconSlide___2p74Q {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0.6;
  }

  40% {
    transform: translate3d(0, 10px, 0);
    opacity: 1;
  }

  50% {
    transform: translate3d(0, 8px, 0);
    opacity: 0.9;
  }

  60% {
    transform: translate3d(0, 10px, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0.6;
  }
}

.index___2D_rk .cover___2eb0c {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 50px);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.index___2D_rk .cover___2eb0c::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.9;
  background-image: url(/_next/static/images/bg01_19466a8.jpg);
  background-size: cover;
}

.index___2D_rk .cover___2eb0c .main___2rGvR {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index___2D_rk .cover___2eb0c .main___2rGvR .slogan___3NVil {
  display: block;
  width: 300px;
  height: 100px;
}

.index___2D_rk .cover___2eb0c .main___2rGvR .brick___Fye85 {
  width: 30px;
  height: 4px;
  margin: 20px auto;
  background: #fff;
}

.index___2D_rk .cover___2eb0c .main___2rGvR p {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.index___2D_rk .cover___2eb0c .effects___1HF7f {
  display: flex;
  margin: 0 10px 40px;
}

.index___2D_rk .cover___2eb0c .effects___1HF7f .item___3QdAY {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  flex: 1;
  text-align: center;
  color: #fff;
}

.index___2D_rk .cover___2eb0c .effects___1HF7f .item___3QdAY .unit___3Bm5m {
  font-size: 6px;
}

.index___2D_rk .cover___2eb0c .effects___1HF7f .item___3QdAY .txt___3Pnpr {
  font-size: 13px;
  font-weight: normal;
  display: block;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.75);
}

.index___2D_rk .cover___2eb0c .down___3SdMp {
  font-size: 23px;
  margin: 0 auto 25px;
  animation: downIconSlide___2p74Q 1s ease infinite;
  color: rgba(255, 255, 255, 0.5);
}

.index___2D_rk .features___A4A48 {
  position: absolute;
  top: calc(100% - 50px);
  width: 100%;
}

.index___2D_rk .industryCase___24E6q {
  padding-bottom: 35px;
  background: #fff;
}

.index___2D_rk .productCase___1ZMX1 {
  padding-bottom: 25px;
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir {
  overflow: hidden;
  margin: 0 20px 10px;
  padding: 0 20px;
  color: #333;
  background: #eef6ff;
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir header {
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  margin: 0 0 -1px;
  border-bottom: 1px solid #666;
}

.hairlines___1Wt3f .index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir header {
  margin: 0 0 -0.5px;
  border-bottom: 0.5px solid #666;
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir header .iconCollapse___39PoY {
  float: right;
  transition: transform ease 0.3s;
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir .featureList___2xujQ {
  overflow: hidden;
  transition: height ease 0.3s;
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir .featureList___2xujQ .featureItem___29aDf {
  word-break: break-all;
  font-size: 14px;
  position: relative;
  margin: 20px 0;
  padding-left: 26px;
  color: #333;
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir .featureList___2xujQ .featureItem___29aDf .iconGou___18NRb {
  font-size: 12px;
  position: absolute;
  top: 1.5px;
  left: 0;
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir.collapse___3ZbUM header .iconCollapse___39PoY {
  transform: rotate(180deg);
}

.index___2D_rk .productCase___1ZMX1 .caseGroup___Tf1ir.collapse___3ZbUM .featureList___2xujQ {
  height: 0;
}

.index___2D_rk .servicesCase___2_nQd {
  overflow: hidden;
  padding-bottom: 35px;
  background: #fff;
}

.index___2D_rk .servicesCase___2_nQd .matchImg___2UQIo {
  display: block;
  width: 310px;
  margin: 0 auto 18px;
  transform: translate3d(5px, 0, 0);
}

.index___2D_rk .supportCase___1MR-t {
  overflow: hidden;
  padding-bottom: 35px;
  background: #eef6ff;
}

.index___2D_rk .supportCase___1MR-t .platform___2IEGm {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.index___2D_rk .supportCase___1MR-t .platform___2IEGm .item___3QdAY {
  overflow: hidden;
  width: 77.5px;
  height: 124px;
  text-align: center;
  background: #fff;
}

.index___2D_rk .supportCase___1MR-t .platform___2IEGm .item___3QdAY .matchImg___2UQIo {
  display: block;
  width: 36px;
  margin: 24px auto 0;
}

.index___2D_rk .supportCase___1MR-t .platform___2IEGm .item___3QdAY .name___1uxXu {
  font-size: 14px;
  margin: 12px 0 0;
}

.index___2D_rk .supportCase___1MR-t .platform___2IEGm .item___3QdAY .en___gD8zm {
  font-size: 10px;
  margin: 7.5px 0 0;
  color: #999;
  text-transform: lowercase;
}

.index___2D_rk .partnerCase___1cAQ_ {
  padding-bottom: 35px;
  background: #fff;
}

.index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC .partnerItem___1zfbz {
  position: relative;
  box-sizing: border-box;
  width: 25%;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.hairlines___1Wt3f .index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC .partnerItem___1zfbz {
  border-top: 0.5px solid #e8e8e8;
  border-left: 0.5px solid #e8e8e8;
}

.index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC .partnerItem___1zfbz::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  width: 1px;
  content: '';
  background: #e8e8e8;
}

.hairlines___1Wt3f .index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC .partnerItem___1zfbz::before {
  top: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  width: 0.5px;
}

.index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC .partnerItem___1zfbz::after {
  position: absolute;
  right: -1px;
  bottom: -1px;
  left: -1px;
  height: 1px;
  content: '';
  background: #e8e8e8;
}

.hairlines___1Wt3f .index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC .partnerItem___1zfbz::after {
  right: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  height: 0.5px;
}

.index___2D_rk .partnerCase___1cAQ_ .partnerList___GSNPC .partnerItem___1zfbz .partnerLogo___1KFxq {
  display: block;
  width: 100%;
  min-height: 40px;
}

.index___2D_rk .cases___1ZO8T {
  display: flex;
  flex-wrap: wrap;
  margin: 0 7.5px;
}

.index___2D_rk .cases___1ZO8T .case___PpTSH {
  width: calc(50% - 25px);
  margin: 0 12.5px;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

.hairlines___1Wt3f .index___2D_rk .cases___1ZO8T .case___PpTSH {
  border-bottom: 0.5px solid #e5e5e5;
}

.index___2D_rk .cases___1ZO8T .case___PpTSH:nth-child(1),
.index___2D_rk .cases___1ZO8T .case___PpTSH:nth-child(2) {
  border-top: 1px solid #e5e5e5;
}

.hairlines___1Wt3f .index___2D_rk .cases___1ZO8T .case___PpTSH:nth-child(1),
.hairlines___1Wt3f .index___2D_rk .cases___1ZO8T .case___PpTSH:nth-child(2) {
  border-top: 0.5px solid #e5e5e5;
}

.index___2D_rk .cases___1ZO8T .case___PpTSH h3 {
  font-size: 17px;
  margin: 0;
  color: #333;
}

.index___2D_rk .cases___1ZO8T .case___PpTSH p {
  font-size: 15px;
  margin: 5px 0 0;
  color: #666;
  word-break: break-all;
}
.resovePage___1iwa9 {
  background: #fff;
}

.resovePage___1iwa9 .content___2UK9R {
  padding: 0 20px;
}

.resovePage___1iwa9 * {
  box-sizing: border-box;
}

.banner___3OWMO {
  position: relative;
  z-index: 3;
  min-height: 160px;
}

.banner___3OWMO::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(/_next/static/images/product/banner_0e95698.jpg);
  background-size: cover;
}

.banner___3OWMO .bannerContent___3b3QF {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-align: center;
}

.banner___3OWMO .bannerContent___3b3QF h4 {
  font-size: 30px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #ffffff;
}

.banner___3OWMO .bannerContent___3b3QF p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
}

.board___2Gave {
  margin: 35px 0 0 0;
}

.board___2Gave .content___2UK9R {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0 0;
  padding: 0;
  border-top: 1px solid #e7f3f9;
}

.hairlines___IM4qp .board___2Gave .content___2UK9R {
  border-top: 0.5px solid #e7f3f9;
}

.board___2Gave .content___2UK9R .boardItem___31fyL {
  width: 50%;
  min-height: 260px;
  padding: 20px;
  border-bottom: 1px solid #e7f3f9;
}

.hairlines___IM4qp .board___2Gave .content___2UK9R .boardItem___31fyL {
  border-bottom: 0.5px solid #e7f3f9;
}

.board___2Gave .content___2UK9R .boardItem___31fyL.boardLeftBorder___7hfSB {
  border-left: 1px solid #e7f3f9;
}

.hairlines___IM4qp .board___2Gave .content___2UK9R .boardItem___31fyL.boardLeftBorder___7hfSB {
  border-left: 0.5px solid #e7f3f9;
}

.board___2Gave .content___2UK9R .boardItem___31fyL h4 {
  font-size: 17px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #333333;
}

.board___2Gave .content___2UK9R .boardItem___31fyL .childrenItem___3tX-c {
  display: flex;
  margin-bottom: 13px;
}

.board___2Gave .content___2UK9R .boardItem___31fyL .childrenItem___3tX-c .childrenIcon___3Inam {
  width: 12px;
  height: 12px;
  margin: 5px 8px 0 0;
}

.board___2Gave .content___2UK9R .boardItem___31fyL .childrenItem___3tX-c .childrenDesc___1WijJ {
  font-size: 14px;
  flex: 1;
  word-break: break-all;
  color: #333;
}

.quality___32D63 {
  margin: 35px 0 0 0;
  padding-bottom: 30px;
}

.quality___32D63 .content___2UK9R {
  margin: 35px 0 0;
}

.quality___32D63 .content___2UK9R .qualityItem___1aHME {
  margin-bottom: 10px;
}

.quality___32D63 .content___2UK9R .qualityItem___1aHME .qualityHeader___2xRIc {
  padding: 20px;
  border-radius: 4px 4px 0 0;
  color: #333;
}

.quality___32D63 .content___2UK9R .qualityItem___1aHME .qualityTitle___3jzNU {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quality___32D63 .content___2UK9R .qualityItem___1aHME .qualityTitle___3jzNU .qualityIcon___3WEfW {
  width: 4px;
  height: 13px;
  margin-right: 8px;
  background: #666;
}

.quality___32D63 .content___2UK9R .qualityItem___1aHME .qualityTitle___3jzNU .qualityName___LjDYn {
  font-size: 17px;
  line-height: 13px;
  color: #666666;
}

.quality___32D63 .content___2UK9R .qualityItem___1aHME .qualityDesc___305eZ {
  font-size: 16px;
  color: #666666;
}

.quality___32D63 .content___2UK9R .qualityImage___2sxFG {
  min-height: 120px;
}

.quality___32D63 .content___2UK9R .qualityImage___2sxFG img {
  width: 100%;
}

.advantage___2n2xk {
  padding: 50px 0 35px;
  background: #f3f8fe;
}

.advantage___2n2xk .content___2UK9R {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}

.advantage___2n2xk .content___2UK9R .advantageItem___2AygM {
  width: 47%;
  min-height: 260px;
  margin-bottom: 15px;
  padding: 20px 15px;
  border-radius: 4px;
  background: #ffffff;
}

.advantage___2n2xk .content___2UK9R .advantageItem___2AygM .advantageImage___1mOe6 {
  margin: 0 auto 14px;
}

.advantage___2n2xk .content___2UK9R .advantageItem___2AygM .advantageImage___1mOe6 img {
  width: 100%;
}

.advantage___2n2xk .content___2UK9R .advantageItem___2AygM .advantageTitle___2esbm {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  color: #333333;
}

.advantage___2n2xk .content___2UK9R .advantageItem___2AygM .advantageSubTitle___27-WE {
  margin-bottom: 20px;
}

.advantage___2n2xk .content___2UK9R .advantageItem___2AygM .advantageDesc___3fqwO {
  font-size: 14px;
  word-break: break-all;
  color: #666666;
}
.resovePage___1rEhb .content___FNoXn {
  padding: 0 20px;
}

.resovePage___1rEhb * {
  box-sizing: border-box;
}

.banner___57efo {
  font-size: 0;
  position: relative;
  min-height: 170px;
}

.banner___57efo::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(/_next/static/images/solution/banner_e393f9e.jpg);
  background-size: cover;
}

.banner___57efo .bannerContent___2muqc {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-align: center;
}

.banner___57efo .bannerContent___2muqc h4 {
  font-size: 30px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fff;
}

.banner___57efo .bannerContent___2muqc p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
}
.about___2HGo3 .cover___3qTBu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

.about___2HGo3 .cover___3qTBu::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(/_next/static/images/solution/banner_e393f9e.jpg);
  background-size: cover;
}

.about___2HGo3 .cover___3qTBu .pageTitle___mai-W {
  text-align: center;
  margin-top: 50px;
}

.about___2HGo3 .cover___3qTBu .pageTitle___mai-W .pageTitleCn___3UCTO {
  font-size: 30px;
  margin: 0 0 0;
  color: #fff;
}

.about___2HGo3 .cover___3qTBu .pageTitle___mai-W .pageTitleEn___2l14s {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}

.about___2HGo3 .cover___3qTBu .brick___1rqHG {
  width: 30px;
  height: 4px;
  margin: 16px auto;
  background: #fff;
}

.about___2HGo3 .cover___3qTBu .subTitle___3Qy0j {
  font-size: 12px;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  word-break: break-all;
  color: #fff;
}

.about___2HGo3 .cover___3qTBu .effects___1lBsq {
  display: flex;
  margin: auto 10px 25px;
}

.about___2HGo3 .cover___3qTBu .effects___1lBsq .item___QZ59c {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  flex: 1;
  text-align: center;
  color: #fff;
}

.about___2HGo3 .cover___3qTBu .effects___1lBsq .item___QZ59c .txt___Ktqh6 {
  font-size: 13px;
  font-weight: normal;
  display: block;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.75);
}

.about___2HGo3 .section___3VcEf {
  padding-bottom: 35px;
  background: #fff;
}

.about___2HGo3 .section___3VcEf .paragraph___1r4nj {
  margin: 0 20px;
}

.about___2HGo3 .section___3VcEf .paragraph___1r4nj img {
  display: block;
  width: 100%;
}

.about___2HGo3 .section___3VcEf .paragraph___1r4nj p {
  font-size: 16px;
  margin-bottom: 20px;
  word-break: break-all;
  color: #666;
}

.about___2HGo3 .section___3VcEf .paragraph___1r4nj a {
  text-decoration: underline;
  color: #1d5662;
}

.about___2HGo3 .section___3VcEf.tdl___dLqDz {
  padding-bottom: 15px;
}

.about___2HGo3 .section___3VcEf.jobs___3jTqJ {
  padding-bottom: 25px;
}

.about___2HGo3 .caseGroup___1t9uf {
  overflow: hidden;
  margin: 0 20px 10px;
  padding: 0 20px;
  background: #eef6ff;
}

.about___2HGo3 .caseGroup___1t9uf header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  margin: 0 0 -1px;
  border-bottom: 1px solid #d8e4f3;
}

.hairlines___1fq5p .about___2HGo3 .caseGroup___1t9uf header {
  margin: 0 0 -0.5px;
  border-bottom: 0.5px solid #d8e4f3;
}

.about___2HGo3 .caseGroup___1t9uf header .iconCollapse___1xLyS {
  float: right;
  transition: transform ease 0.3s;
  color: #999;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD {
  overflow: hidden;
  transition: height ease 0.3s;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD .info___2GbxL {
  font-size: 16px;
  margin-top: 20px;
  color: #666;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD .info___2GbxL .location___2-rMc {
  display: inline-block;
  margin-left: 2em;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD .list___CK6g- {
  margin: 30px 0;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD .list___CK6g- .listTitle___4oS8E {
  font-size: 16px;
  margin: 0 0 19px;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD .list___CK6g- .infos___Mx5DN {
  position: relative;
  margin: 0;
  padding-left: 32px;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD .list___CK6g- .infos___Mx5DN::before {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0;
  width: 2px;
  content: '';
  background: #d8e4f3;
}

.about___2HGo3 .caseGroup___1t9uf .detail___hNvuD .list___CK6g- .info___2GbxL {
  font-size: 16px;
  margin: 0;
  text-align: justify;
  color: #666;
}

.about___2HGo3 .caseGroup___1t9uf.collapse___ubare header .iconCollapse___1xLyS {
  transform: rotate(180deg);
}

.about___2HGo3 .caseGroup___1t9uf.collapse___ubare .featureList___6gLXg {
  height: 0;
}

.about___2HGo3 .develop___jerv- {
  padding-bottom: 35px;
  background: #eef6ff;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX {
  position: relative;
  margin: 0 19px 0 40px;
  padding: 1px 1px 40px 60px;
  border-left: 2px solid #1d5662;
}

.hairlines___1fq5p .about___2HGo3 .develop___jerv- .timeline___2VqBX {
  padding: 0.5px 0.5px 40px 60px;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX::after {
  position: absolute;
  bottom: -8px;
  left: -6px;
  width: 2px;
  height: 0;
  content: '';
  border-top: 8px solid rgba(25, 118, 239, 0.5);
  border-right: 4px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 4px solid transparent;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX .item___QZ59c {
  margin: 25px 0 25px;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX .item___QZ59c:last-child {
  margin-bottom: 0;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX .year___2DktZ {
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  position: relative;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX .year___2DktZ::before {
  position: absolute;
  top: 50%;
  left: -60px;
  width: 37px;
  height: 1px;
  content: '';
  transform: translate3d(0, -50%, 0);
  background: #1d5662;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX .year___2DktZ .anchor___2AifG {
  position: absolute;
  top: 50%;
  left: -68px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  transform: translate3d(0, -50%, 0);
  border: 3px solid #1d5662;
  border-radius: 50%;
  background: #eef6ff;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX .year___2DktZ .decorator___1-Oi_ {
  position: absolute;
  top: 50%;
  left: -32px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  transform: translate3d(0, -50%, 0);
  border: 4px solid #cbe2ff;
  border-radius: 50%;
  background: #1d5662;
}

.about___2HGo3 .develop___jerv- .timeline___2VqBX .event___GByCg {
  font-size: 12px;
  word-break: break-all;
  margin-top: 11px;
  color: #666;
}

.about___2HGo3 .companyLocation___Jb9XZ {
  background: #eef6ff;
  padding-bottom: 90px;
}

.about___2HGo3 .companyLocation___Jb9XZ .content___2uQuP {
  margin: 0 20px;
}

.about___2HGo3 .companyLocation___Jb9XZ .address___15BFa {
  font-size: 14px;
  margin-bottom: 12px;
}

.about___2HGo3 .companyLocation___Jb9XZ .address___15BFa .addressText___1gUGT {
  font-size: 14px;
}

.about___2HGo3 .companyLocation___Jb9XZ .map___2D5LK {
  margin-top: 26px;
  display: block;
  width: 100%;
}
